body{
    margin: 0;

}
.left-container{
    height: 100vh;
    
}
.study-solo{
    background-color: #9656a1;
    height: 100%;
}
.study-together{
    background: linear-gradient(to bottom, #ff8d3c, #ff3939);
}
img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.label{
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
}
.text-des{
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}
.button button {
    margin: 20px;
    height: 42px;
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
}
.font-button{
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #9656a1;
}
#text-button{
    font-family: 'Assistant', sans-serif;
    font-weight: 800;
    color: #ff3939;
}